$font: "Avenir, Helvetica, Arial, sans-serif";
$color: #2c3e50;
$wSmall: 100px;
$wLarge: 300px;
$hSmall: 30px;
$hLarge: 300px;
$fontSmall: 14px;
$fontLarge: 24px;
$fontXlarge: 32px;
$borderRadius: 8px;
$bgColorPoint: salmon;
$bgColorBlank: white;
$bgColorOverlay: rgba(0,0,0,0.5); 